<div>
  <!-- Error sign to display when Webcam couldn't be fetched -->
  <div class="unsupported" ng-show="videoUnavailable">
    <h1>Oops! Couldn't get access to your Webcam. :-(</h1>
    <h3>Try <a href="javascript:location.reload()">reloading</a> and allowing Webcam access to immedia:</h3>
    <img src="/app/immedia-resources/allow-webcam.png"/>
    <br/>
    <br/>
    <p><a href="https://docs.google.com/document/d/1xXSClq5__y76ow_4x3p68aP8kQFS3JAmSQiI4ONipvA/pub">more information</a></p>
  </div>

  <!-- hide'em all -->
  <div ng-hide="videoUnavailable" >
    <span>ABOVE</span>

    <!-- Top "selfies" row -->
    <div class="row" data-ng-show="showParticipantsPanel">
      <div class="col-xs-28 col-sm-30 col-lg-34 participants">

        <!-- Me -->
        <div class="participant">
          <video autoplay style="display: none" width="640" height="480" ></video>
          <canvas id="self" width="70" height="50" class="img-rounded img-snapshot" ng-hide="videolessMode"></canvas>
        </div>

        <!-- Each participant -->
        <div ng-repeat="participant in participants" class="participant">
          <img ng-src="{{ participant.image }}" class="img-rounded img-snapshot ng-class:{stale:participant.stale};" ng-hide="videolessMode">
        </div>
      </div>

    </div>

    <span>BELOW</span>

    <!-- Configuration modal dialog. The content is loaded from partials/config.html -->
    <!-- div ng-include="'partials/desktop/immedia_config.html'"></div -->
  </div>
</div>
